.Bet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1000;
    flex-shrink: 0; /* Prevent it from shrinking */
}

.bet-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
}

.balance-change {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.balance-change p {
    position: absolute;
    bottom: -5vh;
    right: 2vw;
    opacity: 0%;
    transition: bottom 2s linear, opacity 1s linear;
}

.user-balance {
    text-align: end;
    padding-right: 2vw;
}
