.ControlBar {
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

.control-bar-content {
    display: flex;
    background-color: rgb(18, 18, 18);
}

.control-bar-content #start-race-button {
    background-color: rgb(0, 151, 88);
    width: 100%;
}

.control-bar-content #reset-race-button {
    background-color: rgb(167, 164, 0);
    width: 100%;
}

.control-bar-content button:disabled {
    opacity: 50%;
}
