.home-content .cars {
    display: flex;
    flex-direction: column;
}

.home-content .car {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
}

.home-content .car img {
    position: absolute;
    left: 0;
    width: 25vw;
    height: auto;
}

.home-content button {
    margin: 10vh;
    width: 8vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(80, 91, 255);
    color: white;
}

.home-content button:hover {
    cursor: pointer;
    scale: 1.1;
}

.home-content .betting {
    display: flex;
    justify-content: space-between;
}
