.Race {
    height: 100vh; /* Use full viewport height */
    width: 100vw; /* Use full viewport width */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 1vw;
}

.race-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make it fill the remaining height */
    width: 100%;
}

.race-content button {
    margin: 1vh;
    width: 8vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(80, 91, 255);
    color: white;
    font-size: 1vw;
}

.race-content button:hover {
    cursor: pointer;
    scale: 1.1;
}
